In [1]:
import pandas as pd
import numpy as np

dict1 = {
    'Emp ID': np.arange(1, 21),
    'Name': ['John Doe', 'Jane Smith', 'David Lee', 'Sarah Jones', 'Michael Brown',
             'Emily Davis', 'James Wilson', 'Jessica Garcia', 'Robert Rodriguez', 'Linda Martinez',
             'William Anderson', 'Barbara Taylor', 'Thomas Thomas', 'Elizabeth Moore', 'Christopher Jackson',
             'Ashley White', 'Matthew Harris', 'Amanda Martin', 'Kevin Thompson', 'Stephanie Garcia'],
    'Age': np.random.randint(20, 60, size=20),
    'Has Licence': np.random.choice([True, False], size=20)
}

data = pd.DataFrame(dict1)
print(data)

    Emp ID                 Name  Age  Has Licence
0        1             John Doe   51        False
1        2           Jane Smith   27        False
2        3            David Lee   41         True
3        4          Sarah Jones   21         True
4        5        Michael Brown   58        False
5        6          Emily Davis   57         True
6        7         James Wilson   28         True
7        8       Jessica Garcia   32         True
8        9     Robert Rodriguez   52         True
9       10       Linda Martinez   20         True
10      11     William Anderson   44        False
11      12       Barbara Taylor   21         True
12      13        Thomas Thomas   56        False
13      14      Elizabeth Moore   49         True
14      15  Christopher Jackson   46         True
15      16         Ashley White   39        False
16      17       Matthew Harris   57         True
17      18        Amanda Martin   53        False
18      19       Kevin Thompson   51         True
19      20     Stephanie Garcia   56         True

In [6]:
data.shape

(20, 4)

In [7]:
print("lenght:",len(data),"Size:", data.size)

lenght: 20 Size: 80

In [8]:
data.columns

Index(['Emp ID', 'Name', 'Age', 'Has Licence'], dtype='object')

In [9]:
data.dtypes

Emp ID          int64
Name           object
Age             int64
Has Licence      bool
dtype: object

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Emp ID       20 non-null     int64
 1   Name         20 non-null     object
 2   Age          20 non-null     int64
 3   Has Licence  20 non-null     bool
dtypes: bool(1), int64(2), object(1)
memory usage: 628.0+ bytes

In [11]:
data.ndim

2

In [12]:
data.values

array([[1, 'John Doe', 44, False],
       [2, 'Jane Smith', 30, True],
       [3, 'David Lee', 25, False],
       [4, 'Sarah Jones', 50, True],
       [5, 'Michael Brown', 23, True],
       [6, 'Emily Davis', 49, True],
       [7, 'James Wilson', 24, False],
       [8, 'Jessica Garcia', 46, True],
       [9, 'Robert Rodriguez', 32, True],
       [10, 'Linda Martinez', 28, True],
       [11, 'William Anderson', 38, True],
       [12, 'Barbara Taylor', 22, False],
       [13, 'Thomas Thomas', 49, True],
       [14, 'Elizabeth Moore', 35, True],
       [15, 'Christopher Jackson', 45, True],
       [16, 'Ashley White', 57, False],
       [17, 'Matthew Harris', 48, True],
       [18, 'Amanda Martin', 53, True],
       [19, 'Kevin Thompson', 54, False],
       [20, 'Stephanie Garcia', 57, False]], dtype=object)

In [13]:
data.index

RangeIndex(start=0, stop=20, step=1)

In [14]:
data.describe()

         Emp ID        Age
count  20.00000  20.000000
mean   10.50000  40.450000
std     5.91608  12.080759
min     1.00000  22.000000
25%     5.75000  29.500000
50%    10.50000  44.500000
75%    15.25000  49.250000
max    20.00000  57.000000

In [15]:
data.empty

False

In [16]:
data.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Emp ID,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
Name,John Doe,Jane Smith,David Lee,Sarah Jones,Michael Brown,Emily Davis,James Wilson,Jessica Garcia,Robert Rodriguez,Linda Martinez,William Anderson,Barbara Taylor,Thomas Thomas,Elizabeth Moore,Christopher Jackson,Ashley White,Matthew Harris,Amanda Martin,Kevin Thompson,Stephanie Garcia
Age,44,30,25,50,23,49,24,46,32,28,38,22,49,35,45,57,48,53,54,57
Has Licence,False,True,False,True,True,True,False,True,True,True,True,False,True,True,True,False,True,True,False,False

In [17]:
data.head()

   Emp ID           Name  Age  Has Licence
0       1       John Doe   44        False
1       2     Jane Smith   30         True
2       3      David Lee   25        False
3       4    Sarah Jones   50         True
4       5  Michael Brown   23         True

In [18]:
data.tail()

    Emp ID              Name  Age  Has Licence
15      16      Ashley White   57        False
16      17    Matthew Harris   48         True
17      18     Amanda Martin   53         True
18      19    Kevin Thompson   54        False
19      20  Stephanie Garcia   57        False

In [19]:
import numpy as np
for i in data.columns:
    if isinstance(data[i][0],(np.integer,np.floating)):
        print(i)
        print(f"Mean:{data[i].mean()} Mode:{data[i].mode()} standard deviation:{data[i].std()}\n")

Emp ID
Mean:10.5 Mode:0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: Emp ID, dtype: int64 standard deviation:5.916079783099616

Age
Mean:40.45 Mode:0    49
1    57
Name: Age, dtype: int64 standard deviation:12.080758951411344

In [20]:
data.sample(5)

    Emp ID            Name  Age  Has Licence
17      18   Amanda Martin   53         True
11      12  Barbara Taylor   22        False
2        3       David Lee   25        False
15      16    Ashley White   57        False
1        2      Jane Smith   30         True

In [21]:
import numpy as np
for i in data.columns:
    if not isinstance(data[i][0],(np.integer,np.floating)):
        print(i)
        print("Unique Values:",data[i].unique(),"\n")

Name
Unique Values: ['John Doe' 'Jane Smith' 'David Lee' 'Sarah Jones' 'Michael Brown'
 'Emily Davis' 'James Wilson' 'Jessica Garcia' 'Robert Rodriguez'
 'Linda Martinez' 'William Anderson' 'Barbara Taylor' 'Thomas Thomas'
 'Elizabeth Moore' 'Christopher Jackson' 'Ashley White' 'Matthew Harris'
 'Amanda Martin' 'Kevin Thompson' 'Stephanie Garcia']

Has Licence
Unique Values: [False  True]

In [22]:
import numpy as np
for i in data.columns:
    if not isinstance(data[i][0],(np.integer,np.floating)):
        print(i)
        print("Unique Values:",data[i].nunique(),"\n")

Name
Unique Values: 20

Has Licence
Unique Values: 2

In [23]:
data.loc[0,:]

Emp ID                1
Name           John Doe
Age                  44
Has Licence       False
Name: 0, dtype: object

In [24]:
data.loc[14,:]

Emp ID                          15
Name           Christopher Jackson
Age                             45
Has Licence                   True
Name: 14, dtype: object

In [25]:
data.loc[len(data)-1,:]

Emp ID                       20
Name           Stephanie Garcia
Age                          57
Has Licence               False
Name: 19, dtype: object

In [26]:
data[data['Age']>=25]

    Emp ID                 Name  Age  Has Licence
0        1             John Doe   44        False
1        2           Jane Smith   30         True
2        3            David Lee   25        False
3        4          Sarah Jones   50         True
5        6          Emily Davis   49         True
7        8       Jessica Garcia   46         True
8        9     Robert Rodriguez   32         True
9       10       Linda Martinez   28         True
10      11     William Anderson   38         True
12      13        Thomas Thomas   49         True
13      14      Elizabeth Moore   35         True
14      15  Christopher Jackson   45         True
15      16         Ashley White   57        False
16      17       Matthew Harris   48         True
17      18        Amanda Martin   53         True
18      19       Kevin Thompson   54        False
19      20     Stephanie Garcia   57        False

In [27]:
data[data["Has Licence"]==1]

    Emp ID                 Name  Age  Has Licence
1        2           Jane Smith   30         True
3        4          Sarah Jones   50         True
4        5        Michael Brown   23         True
5        6          Emily Davis   49         True
7        8       Jessica Garcia   46         True
8        9     Robert Rodriguez   32         True
9       10       Linda Martinez   28         True
10      11     William Anderson   38         True
12      13        Thomas Thomas   49         True
13      14      Elizabeth Moore   35         True
14      15  Christopher Jackson   45         True
16      17       Matthew Harris   48         True
17      18        Amanda Martin   53         True

In [28]:
data[(data["Has Licence"]==1) & (data['Age']>=25)]

    Emp ID                 Name  Age  Has Licence
1        2           Jane Smith   30         True
3        4          Sarah Jones   50         True
5        6          Emily Davis   49         True
7        8       Jessica Garcia   46         True
8        9     Robert Rodriguez   32         True
9       10       Linda Martinez   28         True
10      11     William Anderson   38         True
12      13        Thomas Thomas   49         True
13      14      Elizabeth Moore   35         True
14      15  Christopher Jackson   45         True
16      17       Matthew Harris   48         True
17      18        Amanda Martin   53         True

In [29]:
data.iloc[0,:]

Emp ID                1
Name           John Doe
Age                  44
Has Licence       False
Name: 0, dtype: object

In [30]:
data.iloc[14,:]

Emp ID                          15
Name           Christopher Jackson
Age                             45
Has Licence                   True
Name: 14, dtype: object

In [31]:
data.iloc[-1,:]

Emp ID                       20
Name           Stephanie Garcia
Age                          57
Has Licence               False
Name: 19, dtype: object

In [32]:
for i in range(len(data)):
    print(data.loc[i,:],"\n")

Emp ID                1
Name           John Doe
Age                  44
Has Licence       False
Name: 0, dtype: object

Emp ID                  2
Name           Jane Smith
Age                    30
Has Licence          True
Name: 1, dtype: object

Emp ID                 3
Name           David Lee
Age                   25
Has Licence        False
Name: 2, dtype: object

Emp ID                   4
Name           Sarah Jones
Age                     50
Has Licence           True
Name: 3, dtype: object

Emp ID                     5
Name           Michael Brown
Age                       23
Has Licence             True
Name: 4, dtype: object

Emp ID                   6
Name           Emily Davis
Age                     49
Has Licence           True
Name: 5, dtype: object

Emp ID                    7
Name           James Wilson
Age                      24
Has Licence           False
Name: 6, dtype: object

Emp ID                      8
Name           Jessica Garcia
Age                        46
Has Licence              True
Name: 7, dtype: object

Emp ID                        9
Name           Robert Rodriguez
Age                          32
Has Licence                True
Name: 8, dtype: object

Emp ID                     10
Name           Linda Martinez
Age                        28
Has Licence              True
Name: 9, dtype: object

Emp ID                       11
Name           William Anderson
Age                          38
Has Licence                True
Name: 10, dtype: object

Emp ID                     12
Name           Barbara Taylor
Age                        22
Has Licence             False
Name: 11, dtype: object

Emp ID                    13
Name           Thomas Thomas
Age                       49
Has Licence             True
Name: 12, dtype: object

Emp ID                      14
Name           Elizabeth Moore
Age                         35
Has Licence               True
Name: 13, dtype: object

Emp ID                          15
Name           Christopher Jackson
Age                             45
Has Licence                   True
Name: 14, dtype: object

Emp ID                   16
Name           Ashley White
Age                      57
Has Licence           False
Name: 15, dtype: object

Emp ID                     17
Name           Matthew Harris
Age                        48
Has Licence              True
Name: 16, dtype: object

Emp ID                    18
Name           Amanda Martin
Age                       53
Has Licence             True
Name: 17, dtype: object

Emp ID                     19
Name           Kevin Thompson
Age                        54
Has Licence             False
Name: 18, dtype: object

Emp ID                       20
Name           Stephanie Garcia
Age                          57
Has Licence               False
Name: 19, dtype: object

In [33]:
data.iloc[:,0:2]

    Emp ID                 Name
0        1             John Doe
1        2           Jane Smith
2        3            David Lee
3        4          Sarah Jones
4        5        Michael Brown
5        6          Emily Davis
6        7         James Wilson
7        8       Jessica Garcia
8        9     Robert Rodriguez
9       10       Linda Martinez
10      11     William Anderson
11      12       Barbara Taylor
12      13        Thomas Thomas
13      14      Elizabeth Moore
14      15  Christopher Jackson
15      16         Ashley White
16      17       Matthew Harris
17      18        Amanda Martin
18      19       Kevin Thompson
19      20     Stephanie Garcia

In [34]:
data.iloc[1,:]

Emp ID                  2
Name           Jane Smith
Age                    30
Has Licence          True
Name: 1, dtype: object

In [35]:
data.iloc[4,:]

Emp ID                     5
Name           Michael Brown
Age                       23
Has Licence             True
Name: 4, dtype: object

In [36]:
data.iloc[6,:]

Emp ID                    7
Name           James Wilson
Age                      24
Has Licence           False
Name: 6, dtype: object

In [37]:
data.iloc[:,0]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
Name: Emp ID, dtype: int64

In [38]:
data.iloc[:,3]

0     False
1      True
2     False
3      True
4      True
5      True
6     False
7      True
8      True
9      True
10     True
11    False
12     True
13     True
14     True
15    False
16     True
17     True
18    False
19    False
Name: Has Licence, dtype: bool

In [39]:
data.to_csv("Sample_Gen_data.csv",index=False)

In [40]:
data2 = pd.read_csv("Sample_Gen_data.csv")
data2

    Emp ID                 Name  Age  Has Licence
0        1             John Doe   44        False
1        2           Jane Smith   30         True
2        3            David Lee   25        False
3        4          Sarah Jones   50         True
4        5        Michael Brown   23         True
5        6          Emily Davis   49         True
6        7         James Wilson   24        False
7        8       Jessica Garcia   46         True
8        9     Robert Rodriguez   32         True
9       10       Linda Martinez   28         True
10      11     William Anderson   38         True
11      12       Barbara Taylor   22        False
12      13        Thomas Thomas   49         True
13      14      Elizabeth Moore   35         True
14      15  Christopher Jackson   45         True
15      16         Ashley White   57        False
16      17       Matthew Harris   48         True
17      18        Amanda Martin   53         True
18      19       Kevin Thompson   54        False
19      20     Stephanie Garcia   57        False

Use Titanic-Dataset shared with you and perform all the above tasks using pandas except task number:-11 and 34.

In [41]:
data3 = pd.read_excel("Titanic-Dataset.xlsx")
data3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [42]:
data3.shape

(891, 12)

In [43]:
print("lenght:",len(data3),"Size:", data3.size)

lenght: 891 Size: 10692

In [44]:
data.dtypes

Emp ID          int64
Name           object
Age             int64
Has Licence      bool
dtype: object

In [45]:
data3.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [46]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [47]:
data3.ndim

2

In [48]:
data3.values

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

In [49]:
data3.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [50]:
data3.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
PassengerId,1,2,3,4,5,6,7,8,9,10,...,882,883,884,885,886,887,888,889,890,891
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry","Moran, Mr. James","McCarthy, Mr. Timothy J","Palsson, Master. Gosta Leonard","Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)","Nasser, Mrs. Nicholas (Adele Achem)",...,"Markun, Mr. Johann","Dahlberg, Miss. Gerda Ulrika","Banfield, Mr. Frederick James","Sutehall, Mr. Henry Jr","Rice, Mrs. William (Margaret Norton)","Montvila, Rev. Juozas","Graham, Miss. Margaret Edith","Johnston, Miss. Catherine Helen ""Carrie""","Behr, Mr. Karl Howell","Dooley, Mr. Patrick"
Sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
Age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,NaN,26.0,32.0
SibSp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
Parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450,330877,17463,349909,347742,237736,...,349257,7552,C.A./SOTON 34068,SOTON/OQ 392076,382652,211536,112053,W./C. 6607,111369,370376
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
Cabin,NaN,C85,NaN,C123,NaN,NaN,E46,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B42,NaN,C148,NaN
Embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q

In [51]:
data3.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [52]:
data3.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [53]:
data3.empty

False

In [54]:
data.isnull().sum()

Emp ID         0
Name           0
Age            0
Has Licence    0
dtype: int64

In [55]:
import numpy as np
for i in data3.columns:
    if isinstance(data3[i][0],(np.integer,np.floating)):
        print(i)
        print(f"Mean:{data3[i].mean()} Mode:{data3[i].mode()} standard deviation:{data3[i].std()}\n")

PassengerId
Mean:446.0 Mode:0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64 standard deviation:257.3538420152301

Survived
Mean:0.3838383838383838 Mode:0    0
Name: Survived, dtype: int64 standard deviation:0.4865924542648585

Pclass
Mean:2.308641975308642 Mode:0    3
Name: Pclass, dtype: int64 standard deviation:0.8360712409770513

Age
Mean:29.69911764705882 Mode:0    24.0
Name: Age, dtype: float64 standard deviation:14.526497332334044

SibSp
Mean:0.5230078563411896 Mode:0    0
Name: SibSp, dtype: int64 standard deviation:1.1027434322934275

Parch
Mean:0.38159371492704824 Mode:0    0
Name: Parch, dtype: int64 standard deviation:0.8060572211299559

Fare
Mean:32.204207968574636 Mode:0    8.05
Name: Fare, dtype: float64 standard deviation:49.693428597180905

In [56]:
import numpy as np
for i in data3.columns:
    if not isinstance(data3[i][0],(np.integer,np.floating)):
        print(i)
        print("Unique Values:",data3[i].nunique(),"\n")

Name
Unique Values: 891

Sex
Unique Values: 2

Ticket
Unique Values: 681

Cabin
Unique Values: 147

Embarked
Unique Values: 3

In [57]:
data3.loc[0,:]

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [58]:
data3.loc[len(data3)-1,:]

PassengerId                    891
Survived                         0
Pclass                           3
Name           Dooley, Mr. Patrick
Sex                           male
Age                           32.0
SibSp                            0
Parch                            0
Ticket                      370376
Fare                          7.75
Cabin                          NaN
Embarked                         Q
Name: 890, dtype: object

In [59]:
data3.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.0,0,0,234604,13.0000,NaN,S
826,827,0,3,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,NaN,S
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.0,0,0,7267,9.2250,NaN,S
380,381,1,1,"Bidois, Miss. Rosalie",female,42.0,0,0,PC 17757,227.5250,NaN,C
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.0,0,0,7534,9.2167,NaN,S
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
517,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
318,319,1,1,"Wick, Miss. Mary Natalie",female,31.0,0,2,36928,164.8667,C7,S

In [60]:
data3[data3["Survived"]==1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [61]:
data3[(data3["Survived"]==1) & (data3['Age']>=25)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [62]:
data3.values

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

In [63]:
data3[data3['Age']>=25]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [64]:
data3.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [66]:
data3.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64