In [54]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_excel('Bengaluru_House_Data.xlsx')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [26]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [27]:
df.isnull().sum().sum()

6201

In [28]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [29]:
df.isna().sum().sum()

6201

In [30]:
df[df['society'].isnull()]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00
10,Super built-up Area,2024-02-18 00:00:00,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00
...,...,...,...,...,...,...,...,...,...
13310,Super built-up Area,Ready To Move,Rachenahalli,2 BHK,NaN,1050,2.0,2.0,52.71
13311,Plot Area,Ready To Move,Ramamurthy Nagar,7 Bedroom,NaN,1500,9.0,2.0,250.00
13312,Super built-up Area,Ready To Move,Bellandur,2 BHK,NaN,1262,2.0,2.0,47.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [31]:
df.fillna(0)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,0,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,0,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,0,3600,5.0,0.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,0,550,1.0,1.0,17.00

In [32]:
df.fillna(1)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,1,3600,5.0,1.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,1,550,1.0,1.0,17.00

In [33]:
df.ffill()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Theanmp,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,Soiewre,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,ArsiaEx,3600,5.0,0.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,SollyCl,550,1.0,1.0,17.00

In [34]:
df.bfill()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Soiewre,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,DuenaTa,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,Mahla T,3600,5.0,1.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [35]:
df.ffill(axis=1)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.0
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,3 BHK,1440,2.0,3.0,62.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.0
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,2 BHK,1200,2.0,1.0,51.0
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,4 BHK,3600,5.0,5.0,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.0
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,1 BHK,550,1.0,1.0,17.0

In [36]:
df.fillna({'society':'abc','balcony':'xyz'},inplace=True)
df.head(15)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,2024-05-18 00:00:00,Old Airport Road,4 BHK,Jaades,2732,4.0,xyz,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,xyz,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,abc,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,abc,1020,6.0,xyz,370.00
10,Super built-up Area,2024-02-18 00:00:00,Whitefield,3 BHK,abc,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,abc,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00

In [37]:
df["balcony"] = pd.to_numeric(df["balcony"], errors='coerce')
df["balcony"].fillna(value=df["balcony"].mean()).round(0)

0        1.0
1        3.0
2        3.0
3        1.0
4        1.0
        ...
13315    0.0
13316    2.0
13317    1.0
13318    1.0
13319    1.0
Name: balcony, Length: 13320, dtype: float64

In [38]:
df["balcony"].fillna(value=df["balcony"].max())

0        1.0
1        3.0
2        3.0
3        1.0
4        1.0
        ...
13315    0.0
13316    3.0
13317    1.0
13318    1.0
13319    1.0
Name: balcony, Length: 13320, dtype: float64

In [43]:
df["balcony"].fillna(value=df["balcony"].min())

0        1.0
1        3.0
2        3.0
3        1.0
4        1.0
        ...
13315    0.0
13316    0.0
13317    1.0
13318    1.0
13319    1.0
Name: balcony, Length: 13320, dtype: float64

In [47]:
mode = df['balcony'].mode()
df["balcony"].fillna(value=mode[0])

0        1.0
1        3.0
2        3.0
3        1.0
4        1.0
        ...
13315    0.0
13316    2.0
13317    1.0
13318    1.0
13319    1.0
Name: balcony, Length: 13320, dtype: float64

In [51]:
df.dropna()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,abc,550,1.0,1.0,17.00

In [52]:
df1=df.dropna(how='all')
df1.isnull().sum()

area_type         0
availability      0
location          1
size             16
society           0
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [53]:
 df2=df.dropna(how='any')
 df2

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,abc,550,1.0,1.0,17.00

In [55]:
df3=df.replace(to_replace=np.nan,value=200)
df3.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,2024-05-18 00:00:00,Old Airport Road,4 BHK,Jaades,2732,4.0,200.0,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,200.0,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,abc,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,abc,1020,6.0,200.0,370.00

In [56]:
df4=df.replace(to_replace=1,value=100)
df4.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,100.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,100.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,100.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,100.0,38.00
6,Super built-up Area,2024-05-18 00:00:00,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,abc,1310,3.0,100.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,abc,1020,6.0,NaN,370.00

In [57]:
df5=df.copy()
df5['balcony']=df['balcony'].interpolate(method='linear')
df5.head(15)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,2024-05-18 00:00:00,Old Airport Road,4 BHK,Jaades,2732,4.0,1.0,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,1.0,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,abc,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,abc,1020,6.0,1.5,370.00
10,Super built-up Area,2024-02-18 00:00:00,Whitefield,3 BHK,abc,1800,2.0,2.0,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,abc,1100,2.0,2.0,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00

In [60]:
df.duplicated().sum()

530

In [62]:
df_dr_dup=df.drop_duplicates(keep='first')
df_dr_dup

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,abc,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [63]:
df_dr_dup=df.drop_duplicates(keep='last')
df_dr_dup

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,abc,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,abc,550,1.0,1.0,17.00

In [64]:
df_dr_dup=df.drop_duplicates(keep=False)
df_dr_dup

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2024-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,abc,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,abc,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,abc,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2024-06-18 00:00:00,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [65]:
def select_middle(group):
    return group.iloc[len(group) // 2]
df_dr_dup4=df.drop_duplicates(keep='last').apply(select_middle)
df_dr_dup4

area_type       Super built-up  Area
availability           Ready To Move
location              Sarjapur  Road
size                           2 BHK
society                      Adeatlm
total_sqft                      1320
bath                             2.0
balcony                          2.0
price                          115.0
dtype: object

In [66]:
df1=pd.read_csv(r"train.csv")
df2=pd.read_csv(r"test.csv")

In [67]:
df1

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [68]:
df2

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN

In [69]:
df=pd.concat([df1,df2],axis=0)
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,F,26-35,15,B,4+,1,8,NaN,NaN,NaN
233595,1006036,P00254642,F,26-35,15,B,4+,1,5,8.0,NaN,NaN
233596,1006036,P00031842,F,26-35,15,B,4+,1,1,5.0,12.0,NaN
233597,1006037,P00124742,F,46-50,1,C,4+,0,10,16.0,NaN,NaN
233598,1006039,P00316642,F,46-50,0,B,4+,1,4,5.0,NaN,NaN

In [70]:
df['Gender']=df['Gender'].map({'F':0,'M':1})
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,0,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,0,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,0,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,1,55+,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,0,26-35,15,B,4+,1,8,NaN,NaN,NaN
233595,1006036,P00254642,0,26-35,15,B,4+,1,5,8.0,NaN,NaN
233596,1006036,P00031842,0,26-35,15,B,4+,1,1,5.0,12.0,NaN
233597,1006037,P00124742,0,46-50,1,C,4+,0,10,16.0,NaN,NaN
233598,1006039,P00316642,0,46-50,0,B,4+,1,4,5.0,NaN,NaN

In [71]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [72]:
df['Age']=df['Age'].map({'0-17':1,'18-25':2,'26-35':3,'36-45':4,'46-50':5,'51-55':6,'55+':7})
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,1,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,0,1,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,0,1,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,0,1,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,1,7,16,C,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,0,3,15,B,4+,1,8,NaN,NaN,NaN
233595,1006036,P00254642,0,3,15,B,4+,1,5,8.0,NaN,NaN
233596,1006036,P00031842,0,3,15,B,4+,1,1,5.0,12.0,NaN
233597,1006037,P00124742,0,5,1,C,4+,0,10,16.0,NaN,NaN
233598,1006039,P00316642,0,5,0,B,4+,1,4,5.0,NaN,NaN

In [73]:
 df['Age'].unique()

array([1, 7, 3, 5, 6, 4, 2], dtype=int64)

In [74]:
df['City_Category']=df['City_Category'].map({'A':1,'B':2,'C':3})
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,1,10,1,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,0,1,10,1,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,0,1,10,1,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,0,1,10,1,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,1,7,16,3,4+,0,8,NaN,NaN,7969.0
...,...,...,...,...,...,...,...,...,...,...,...,...
233594,1006036,P00118942,0,3,15,2,4+,1,8,NaN,NaN,NaN
233595,1006036,P00254642,0,3,15,2,4+,1,5,8.0,NaN,NaN
233596,1006036,P00031842,0,3,15,2,4+,1,1,5.0,12.0,NaN
233597,1006037,P00124742,0,5,1,3,4+,0,10,16.0,NaN,NaN
233598,1006039,P00316642,0,5,0,2,4+,1,4,5.0,NaN,NaN

In [75]:
df['City_Category'].unique()

array([1, 3, 2], dtype=int64)

In [76]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [77]:
df['Stay_In_Current_City_Years'].value_counts()

Stay_In_Current_City_Years
1     276425
2     145427
3     135428
4+    120671
0     105716
Name: count, dtype: int64

In [78]:
df['Stay_In_Current_City_Years']=df['Stay_In_Current_City_Years'].str.replace("+","")

In [79]:
df['Stay_In_Current_City_Years'].value_counts()

Stay_In_Current_City_Years
1    276425
2    145427
3    135428
4    120671
0    105716
Name: count, dtype: int64

In [80]:
df['Product_ID']=df['Product_ID'].str[1:]
df['Product_ID']

0         00069042
1         00248942
2         00087842
3         00085442
4         00285442
            ...
233594    00118942
233595    00254642
233596    00031842
233597    00124742
233598    00316642
Name: Product_ID, Length: 783667, dtype: object

In [81]:
df['Product_ID'] = df['Product_ID'].astype('int64')
df['Product_ID']

0          69042
1         248942
2          87842
3          85442
4         285442
           ...
233594    118942
233595    254642
233596     31842
233597    124742
233598    316642
Name: Product_ID, Length: 783667, dtype: int64

In [83]:
df_city=pd.get_dummies(df['City_Category'],prefix= 'City_Category',drop_first=True)
df_city

        City_Category_2  City_Category_3
0                 False            False
1                 False            False
2                 False            False
3                 False            False
4                 False             True
...                 ...              ...
233594             True            False
233595             True            False
233596             True            False
233597            False             True
233598             True            False

[783667 rows x 2 columns]

In [84]:
df_city=pd.get_dummies(df['City_Category'],prefix= 'City_Category',drop_first=False)
df_city

        City_Category_1  City_Category_2  City_Category_3
0                  True            False            False
1                  True            False            False
2                  True            False            False
3                  True            False            False
4                 False            False             True
...                 ...              ...              ...
233594            False             True            False
233595            False             True            False
233596            False             True            False
233597            False            False             True
233598            False             True            False

[783667 rows x 3 columns]

In [122]:
df3 = pd.read_excel(r"WDICountry.xlsx")
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,General trade system,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,NaN,NaN,ZH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,NaN,NaN,ZI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",NaN,2007,2010.0,2018.0
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",NaN,NaN,1994.0,2018.0
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2018.0
265,AUS,Australia,Australia,Commonwealth of Australia,AU,Australian dollar,East Asia & Pacific,High income,AU,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2016,NaN,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.0,2018.0
266,VEN,Venezuela,"Venezuela, RB",RepÃºblica Bolivariana de Venezuela,VE,Venezuelan bolivar fuerte,Latin America & Caribbean,NaN,VE,1997,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2000","Integrated household survey (IHS), 2015",NaN,2008,1998.0,2013.0

In [123]:
df3.isnull().sum()

Country Code                                           0
Short Name                                             0
Table Name                                             0
Long Name                                              0
2-alpha code                                           2
Currency Unit                                         48
Region                                                48
Income Group                                          50
WB-2 code                                              1
National accounts base year                           56
National accounts reference year                     192
SNA price valuation                                   58
Lending category                                     122
Other groups                                         208
System of National Accounts                           57
Alternative conversion factor                        267
PPP survey year                                      267
Balance of Payments Manual in use                     70
External debt Reporting status                       146
System of trade                                       94
Government Accounting concept                        108
IMF data dissemination standard                       77
Latest population census                              51
Latest household survey                              112
Source of most recent Income and expenditure data     97
Vital registration complete                          146
Latest agricultural census                           137
Latest industrial data                               118
Latest trade data                                     74
dtype: int64

In [124]:
df3.isnull().sum().sum()

2606

In [125]:
import numpy as np
for i in df3.columns:
    if isinstance(df3[i][0],(np.integer,np.floating)):
        df3[i].fillna(df3[i].mean(),inplace=True)
    elif not isinstance(df3[i][0],(np.integer,np.floating)):
        mode = df3[i].mode()[0]
        df3[i].fillna(mode,inplace=True)

C:\Users\Om Nagvekar\AppData\Local\Temp\ipykernel_21368\2034401695.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3[i].fillna(mode,inplace=True)
C:\Users\Om Nagvekar\AppData\Local\Temp\ipykernel_21368\2034401695.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3[i].fillna(df3[i].mean(),inplace=True)

In [126]:
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2018.000000
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",Yes,2010,2007.020134,2018.000000
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",Yes,2010,2007.020134,2018.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",Yes,2007,2010.000000,2018.000000
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",Yes,2010,1994.000000,2018.000000
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",Yes,2010,2007.020134,2018.000000
265,AUS,Australia,Australia,Commonwealth of Australia,AU,Australian dollar,East Asia & Pacific,High income,AU,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2016,"Multiple Indicator Cluster Survey, 2019","Expenditure survey/budget survey (ES/BS), 2010",Yes,2015-2016,2013.000000,2018.000000
266,VEN,Venezuela,"Venezuela, RB",RepÃºblica Bolivariana de Venezuela,VE,Venezuelan bolivar fuerte,Latin America & Caribbean,High income,VE,1997,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2000","Integrated household survey (IHS), 2015",Yes,2008,1998.000000,2013.000000

In [127]:
df3.isnull().sum()

Country Code                                           0
Short Name                                             0
Table Name                                             0
Long Name                                              0
2-alpha code                                           0
Currency Unit                                          0
Region                                                 0
Income Group                                           0
WB-2 code                                              0
National accounts base year                            0
National accounts reference year                       0
SNA price valuation                                    0
Lending category                                       0
Other groups                                           0
System of National Accounts                            0
Alternative conversion factor                        267
PPP survey year                                      267
Balance of Payments Manual in use                      0
External debt Reporting status                         0
System of trade                                        0
Government Accounting concept                          0
IMF data dissemination standard                        0
Latest population census                               0
Latest household survey                                0
Source of most recent Income and expenditure data      0
Vital registration complete                            0
Latest agricultural census                             0
Latest industrial data                                 0
Latest trade data                                      0
dtype: int64

In [141]:
df3.drop(['PPP survey year','Alternative conversion factor'],axis=1,inplace=True)

In [142]:
df3.isnull().sum()

Country Code                                         0
Short Name                                           0
Table Name                                           0
Long Name                                            0
2-alpha code                                         0
Currency Unit                                        0
Region                                               0
Income Group                                         0
WB-2 code                                            0
National accounts base year                          0
National accounts reference year                     0
SNA price valuation                                  0
Lending category                                     0
Other groups                                         0
System of National Accounts                          0
Balance of Payments Manual in use                    0
External debt Reporting status                       0
System of trade                                      0
Government Accounting concept                        0
IMF data dissemination standard                      0
Latest population census                             0
Latest household survey                              0
Source of most recent Income and expenditure data    0
Vital registration complete                          0
Latest agricultural census                           0
Latest industrial data                               0
Latest trade data                                    0
dtype: int64

In [143]:
df3.duplicated().sum()

2

In [144]:
df3.drop_duplicates(keep='first',inplace=True)
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2018.000000
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",Yes,2010,2007.020134,2018.000000
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",Yes,2010,2007.020134,2018.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2015",Yes,2014,2007.020134,2016.621762
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Middle East & North Africa,Low income,RY,1990,...,Special trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",Yes,2010,2012.000000,2015.000000
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",Yes,2007,2010.000000,2018.000000
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",Yes,2010,1994.000000,2018.000000
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",Yes,2010,2007.020134,2018.000000

In [145]:
df3.drop_duplicates(keep='last',inplace=True)
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2018.000000
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",Yes,2010,2007.020134,2018.000000
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",Yes,2010,2007.020134,2018.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,...,General trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2015",Yes,2014,2007.020134,2016.621762
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Middle East & North Africa,Low income,RY,1990,...,Special trade system,Consolidated central government,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",Yes,2010,2012.000000,2015.000000
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,General trade system,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",Yes,2007,2010.000000,2018.000000
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",Yes,2010,1994.000000,2018.000000
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,General trade system,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",Yes,2010,2007.020134,2018.000000

In [146]:
df3['System of trade']=df3['System of trade'].map({'System 1':1,'System 2':2,'System 3':3})
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2018.000000
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",Yes,2010,2007.020134,2018.000000
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,NaN,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",Yes,2010,2007.020134,2018.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2015",Yes,2014,2007.020134,2016.621762
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Middle East & North Africa,Low income,RY,1990,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",Yes,2010,2012.000000,2015.000000
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,NaN,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",Yes,2007,2010.000000,2018.000000
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,NaN,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",Yes,2010,1994.000000,2018.000000
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,NaN,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",Yes,2010,2007.020134,2018.000000

In [147]:
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2018.000000
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",Yes,2010,2007.020134,2018.000000
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,NaN,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",Yes,2010,2007.020134,2018.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2015",Yes,2014,2007.020134,2016.621762
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Middle East & North Africa,Low income,RY,1990,...,NaN,Consolidated central government,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",Yes,2010,2012.000000,2015.000000
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,NaN,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",Yes,2007,2010.000000,2018.000000
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,NaN,Budgetary central government,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",Yes,2010,1994.000000,2018.000000
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,NaN,Budgetary central government,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",Yes,2010,2007.020134,2018.000000

In [148]:
df3['Government Accounting concept']=df3['Government Accounting concept'].map({'Accounting concept 1':1,'Accounting concept 2':2,'Accounting concept 3':3})
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2018.000000
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",Yes,2010,2007.020134,2018.000000
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",Yes,2010,2007.020134,2016.621762
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",Yes,2010,2007.020134,2018.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2015",Yes,2014,2007.020134,2016.621762
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Middle East & North Africa,Low income,RY,1990,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",Yes,2010,2012.000000,2015.000000
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,NaN,NaN,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",Yes,2007,2010.000000,2018.000000
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",Yes,2010,1994.000000,2018.000000
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",Yes,2010,2007.020134,2018.000000

In [149]:
df3['Vital registration complete']=df3['Vital registration complete'].map({'Yes':1,'No':0})
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",1.0,2010,2007.020134,2018.000000
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",1.0,2010,2007.020134,2016.621762
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",1.0,2010,2007.020134,2018.000000
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),"Multiple Indicator Cluster Survey, 2019","Income survey (IS), 2015",1.0,2010,2007.020134,2016.621762
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",1.0,2010,2007.020134,2018.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2011,"Multiple Indicator Cluster Survey, 2019/20","Expenditure survey/budget survey (ES/BS), 2015",1.0,2014,2007.020134,2016.621762
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Middle East & North Africa,Low income,RY,1990,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2004,"Demographic and Health Survey, 2013","Expenditure survey/budget survey (ES/BS), 2014",1.0,2010,2012.000000,2015.000000
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,NaN,NaN,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2016","Expenditure survey/budget survey (ES/BS), 2014/15",1.0,2007,2010.000000,2018.000000
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),"Demographic and Health Survey, 2018","Integrated household survey (IHS), 2015",1.0,2010,1994.000000,2018.000000
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,NaN,NaN,Enhanced General Data Dissemination System (e-...,2012,"Multiple Indicator Cluster Survey, 2019","Integrated household survey (IHS), 2011/12",1.0,2010,2007.020134,2018.000000

In [151]:
df3['Region'].unique()

array(['Latin America & Caribbean', 'Europe & Central Asia', 'South Asia',
       'Sub-Saharan Africa', 'Middle East & North Africa',
       'East Asia & Pacific', 'North America'], dtype=object)

In [158]:
df_region=pd.get_dummies(df3['Region'],prefix= 'Region',drop_first=False)
df_region

,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Latin America & Caribbean,Region_Middle East & North Africa,Region_North America,Region_South Asia,Region_Sub-Saharan Africa
0,False,False,True,False,False,False,False
1,False,True,False,False,False,False,False
2,False,False,False,False,False,True,False
3,False,True,False,False,False,False,False
4,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...
260,False,True,False,False,False,False,False
261,False,False,False,True,False,False,False
262,False,False,False,False,False,False,True
263,False,False,False,False,False,False,True
264,False,False,False,False,False,False,True

In [159]:
df_Income=pd.get_dummies(df3['Income Group'],prefix= 'Income Group',drop_first=False)
df_Income

,Income Group_High income,Income Group_Low income,Income Group_Lower middle income,Income Group_Upper middle income
0,True,False,False,False
1,True,False,False,False
2,False,True,False,False
3,True,False,False,False
4,False,False,True,False
...,...,...,...,...
260,False,False,False,True
261,False,True,False,False
262,False,False,False,True
263,False,False,True,False
264,False,False,True,False

In [161]:
df3=pd.concat([df3,df_region,df_Income],axis=1)
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,Region_Europe & Central Asia,Region_Latin America & Caribbean,Region_Middle East & North Africa,Region_North America,Region_South Asia,Region_Sub-Saharan Africa,Income Group_High income,Income Group_Low income,Income Group_Lower middle income,Income Group_Upper middle income
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,False,True,False,False,False,False,True,False,False,False
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,True,False,False,False,False,False,True,False,False,False
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,False,False,False,False,True,False,False,True,False,False
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,True,False,False,False,False,False,True,False,False,False
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,...,True,False,False,False,False,False,False,False,False,True
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Middle East & North Africa,Low income,RY,1990,...,False,False,True,False,False,False,False,True,False,False
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,False,False,False,False,False,True,False,False,False,True
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,False,False,False,False,False,True,False,False,True,False
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,False,False,False,False,False,True,False,False,True,False

In [162]:
df3.rename(columns={'Region_South Asia':'South Asia','Income Group_High income':'High Income'},inplace=True)
df3

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,...,Region_Europe & Central Asia,Region_Latin America & Caribbean,Region_Middle East & North Africa,Region_North America,South Asia,Region_Sub-Saharan Africa,High Income,Income Group_Low income,Income Group_Lower middle income,Income Group_Upper middle income
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income,AW,2013,...,False,True,False,False,False,False,True,False,False,False
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,Euro,Europe & Central Asia,High income,ZH,Original chained constant price data are resca...,...,True,False,False,False,False,False,True,False,False,False
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2016,...,False,False,False,False,True,False,False,True,False,False
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,Euro,Europe & Central Asia,High income,ZI,Original chained constant price data are resca...,...,True,False,False,False,False,False,True,False,False,False
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Lower middle income,AO,2002,...,False,False,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,XKX,Kosovo,Kosovo,Republic of Kosovo,XK,Euro,Europe & Central Asia,Upper middle income,XK,Original chained constant price data are resca...,...,True,False,False,False,False,False,False,False,False,True
261,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Middle East & North Africa,Low income,RY,1990,...,False,False,True,False,False,False,False,True,False,False
262,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Sub-Saharan Africa,Upper middle income,ZA,2015,...,False,False,False,False,False,True,False,False,False,True
263,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,Sub-Saharan Africa,Lower middle income,ZM,2010,...,False,False,False,False,False,True,False,False,True,False
264,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,Zimbabwean Dollar,Sub-Saharan Africa,Lower middle income,ZW,2019,...,False,False,False,False,False,True,False,False,True,False