#### A.Perform different encoding operations on the dataset ‘students_adaptability_level_online_education.csv’.

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

#### <span style='color:blue'>1.Perform the One Hot Encoding separately on features – Gender, Age, Internet Type, Device.</span>

In [9]:
df=pd.read_csv(r'./students_adaptability_level_online_education.csv')
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [10]:
# Object of OneHotEncoder
ohe=OneHotEncoder()

In [11]:
# One hot encoding of 'Gender'
feature_gender_array=ohe.fit_transform(df[['Gender']]).toarray()
feature_gender_array

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

In [12]:
feature_gender_label=ohe.categories_
feature_gender_label

[array(['Boy', 'Girl'], dtype=object)]

In [13]:
gender_label=np.array(feature_gender_label).ravel()

In [14]:
df_gender=pd.DataFrame(feature_gender_array,columns=gender_label,dtype=int).add_prefix('Gender_')
df_gender

      Gender_Boy  Gender_Girl
0              1            0
1              0            1
2              0            1
3              0            1
4              0            1
...          ...          ...
1200           0            1
1201           0            1
1202           1            0
1203           0            1
1204           0            1

[1205 rows x 2 columns]

In [15]:
df=pd.concat([df,df_gender],axis=1)
df

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level,Gender_Boy,Gender_Girl
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate,1,0
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate,0,1
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate,0,1
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate,0,1
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,Girl,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Low,0,1
1201,Girl,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,No,Mobile,Moderate,0,1
1202,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate,1,0
1203,Girl,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,Mobile,Low,0,1
1204,Girl,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Moderate,0,1

In [16]:
df.drop('Gender',axis=1,inplace=True)

In [17]:
df

,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level,Gender_Boy,Gender_Girl
0,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate,1,0
1,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate,0,1
2,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate,0,1
3,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate,0,1
4,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Low,0,1
1201,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,No,Mobile,Moderate,0,1
1202,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate,1,0
1203,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,Mobile,Low,0,1
1204,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Moderate,0,1

In [18]:
# One hot encoding on 'Age'
feature_age_array=ohe.fit_transform(df[['Age']]).toarray()
feature_age_array

array([[0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       ...,
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.]])

In [19]:
feature_age_label=ohe.categories_
feature_age_label

[array(['1-5', '11-15', '16-20', '21-25', '26-30', '6-10'], dtype=object)]

In [20]:
age_label=np.array(feature_age_label).ravel()
age_label

array(['1-5', '11-15', '16-20', '21-25', '26-30', '6-10'], dtype=object)

In [21]:
df_age=pd.DataFrame(feature_age_array,columns=age_label,dtype=int).add_prefix('Age_')
df_age

      Age_1-5  Age_11-15  Age_16-20  Age_21-25  Age_26-30  Age_6-10
0           0          0          0          1          0         0
1           0          0          0          1          0         0
2           0          0          1          0          0         0
3           0          1          0          0          0         0
4           0          0          1          0          0         0
...       ...        ...        ...        ...        ...       ...
1200        0          0          1          0          0         0
1201        0          0          1          0          0         0
1202        0          1          0          0          0         0
1203        0          0          1          0          0         0
1204        0          1          0          0          0         0

[1205 rows x 6 columns]

In [22]:
df=pd.concat([df,df_age],axis=1)
df

,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,...,Device,Adaptivity Level,Gender_Boy,Gender_Girl,Age_1-5,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10
0,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,...,Tab,Moderate,1,0,0,0,0,1,0,0
1,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,...,Mobile,Moderate,0,1,0,0,0,1,0,0
2,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,...,Mobile,Moderate,0,1,0,0,1,0,0,0
3,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,...,Mobile,Moderate,0,1,0,1,0,0,0,0
4,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,...,Mobile,Low,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,...,Mobile,Low,0,1,0,0,1,0,0,0
1201,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,...,Mobile,Moderate,0,1,0,0,1,0,0,0
1202,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,...,Mobile,Moderate,1,0,0,1,0,0,0,0
1203,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,...,Mobile,Low,0,1,0,0,1,0,0,0
1204,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,...,Mobile,Moderate,0,1,0,1,0,0,0,0

In [23]:
df.drop('Age',axis=1,inplace=True)

In [24]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level,Gender_Boy,Gender_Girl,Age_1-5,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10
0,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate,1,0,0,0,0,1,0,0
1,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate,0,1,0,0,0,1,0,0
2,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate,0,1,0,0,1,0,0,0
3,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate,0,1,0,1,0,0,0,0
4,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Low,0,1,0,0,1,0,0,0
1201,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,No,Mobile,Moderate,0,1,0,0,1,0,0,0
1202,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate,1,0,0,1,0,0,0,0
1203,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,Mobile,Low,0,1,0,0,1,0,0,0
1204,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Moderate,0,1,0,1,0,0,0,0

In [25]:
# One hot encoding on 'Internet Type'
feature_netType_array=ohe.fit_transform(df[['Internet Type']]).toarray()
feature_netType_array

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])

In [26]:
feature_netType_label=ohe.categories_
feature_netType_label

[array(['Mobile Data', 'Wifi'], dtype=object)]

In [27]:
netType_label=np.array(feature_netType_label).ravel()
netType_label

array(['Mobile Data', 'Wifi'], dtype=object)

In [28]:
df_netType=pd.DataFrame(feature_netType_array,columns=netType_label,dtype=int).add_prefix('netType_')
df_netType

      netType_Mobile Data  netType_Wifi
0                       0             1
1                       1             0
2                       0             1
3                       1             0
4                       1             0
...                   ...           ...
1200                    0             1
1201                    0             1
1202                    1             0
1203                    0             1
1204                    1             0

[1205 rows x 2 columns]

In [29]:
df=pd.concat([df,df_netType],axis=1)

In [30]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,...,Gender_Boy,Gender_Girl,Age_1-5,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi
0,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,...,1,0,0,0,0,1,0,0,0,1
1,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,...,0,1,0,0,0,1,0,0,1,0
2,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,...,0,1,0,0,1,0,0,0,0,1
3,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,...,0,1,0,1,0,0,0,0,1,0
4,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,...,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,...,0,1,0,0,1,0,0,0,0,1
1201,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,No,...,0,1,0,0,1,0,0,0,0,1
1202,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,...,1,0,0,1,0,0,0,0,1,0
1203,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,...,0,1,0,0,1,0,0,0,0,1
1204,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,...,0,1,0,1,0,0,0,0,1,0

In [31]:
df.drop('Internet Type',axis=1,inplace=True)

In [32]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Device,...,Gender_Boy,Gender_Girl,Age_1-5,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi
0,University,Non Government,No,Yes,Low,Mid,4G,3-6,No,Tab,...,1,0,0,0,0,1,0,0,0,1
1,University,Non Government,No,Yes,High,Mid,4G,1-3,Yes,Mobile,...,0,1,0,0,0,1,0,0,1,0
2,College,Government,No,Yes,Low,Mid,4G,1-3,No,Mobile,...,0,1,0,0,1,0,0,0,0,1
3,School,Non Government,No,Yes,Low,Mid,4G,1-3,No,Mobile,...,0,1,0,1,0,0,0,0,1,0
4,School,Non Government,No,Yes,Low,Poor,3G,0,No,Mobile,...,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,College,Non Government,No,Yes,Low,Mid,4G,1-3,No,Mobile,...,0,1,0,0,1,0,0,0,0,1
1201,College,Non Government,No,No,High,Mid,4G,3-6,No,Mobile,...,0,1,0,0,1,0,0,0,0,1
1202,School,Non Government,No,Yes,Low,Mid,3G,1-3,No,Mobile,...,1,0,0,1,0,0,0,0,1,0
1203,College,Non Government,No,No,Low,Mid,4G,1-3,No,Mobile,...,0,1,0,0,1,0,0,0,0,1
1204,School,Non Government,No,Yes,Low,Poor,3G,1-3,No,Mobile,...,0,1,0,1,0,0,0,0,1,0

In [33]:
# One hot encoding on 'Device'
feature_device_array=ohe.fit_transform(df[['Device']]).toarray()
feature_device_array

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [34]:
feature_device_label=ohe.categories_
feature_device_label

[array(['Computer', 'Mobile', 'Tab'], dtype=object)]

In [35]:
device_label=np.array(feature_device_label).ravel()
device_label

array(['Computer', 'Mobile', 'Tab'], dtype=object)

In [36]:
df_device=pd.DataFrame(feature_device_array,columns=device_label,dtype=int).add_prefix('device_')
df_device

      device_Computer  device_Mobile  device_Tab
0                   0              0           1
1                   0              1           0
2                   0              1           0
3                   0              1           0
4                   0              1           0
...               ...            ...         ...
1200                0              1           0
1201                0              1           0
1202                0              1           0
1203                0              1           0
1204                0              1           0

[1205 rows x 3 columns]

In [37]:
df=pd.concat([df,df_device],axis=1)
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Device,...,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi,device_Computer,device_Mobile,device_Tab
0,University,Non Government,No,Yes,Low,Mid,4G,3-6,No,Tab,...,0,0,1,0,0,0,1,0,0,1
1,University,Non Government,No,Yes,High,Mid,4G,1-3,Yes,Mobile,...,0,0,1,0,0,1,0,0,1,0
2,College,Government,No,Yes,Low,Mid,4G,1-3,No,Mobile,...,0,1,0,0,0,0,1,0,1,0
3,School,Non Government,No,Yes,Low,Mid,4G,1-3,No,Mobile,...,1,0,0,0,0,1,0,0,1,0
4,School,Non Government,No,Yes,Low,Poor,3G,0,No,Mobile,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,College,Non Government,No,Yes,Low,Mid,4G,1-3,No,Mobile,...,0,1,0,0,0,0,1,0,1,0
1201,College,Non Government,No,No,High,Mid,4G,3-6,No,Mobile,...,0,1,0,0,0,0,1,0,1,0
1202,School,Non Government,No,Yes,Low,Mid,3G,1-3,No,Mobile,...,1,0,0,0,0,1,0,0,1,0
1203,College,Non Government,No,No,Low,Mid,4G,1-3,No,Mobile,...,0,1,0,0,0,0,1,0,1,0
1204,School,Non Government,No,Yes,Low,Poor,3G,1-3,No,Mobile,...,1,0,0,0,0,1,0,0,1,0

In [38]:
df.drop('Device',axis=1,inplace=True)

In [39]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Adaptivity Level,...,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi,device_Computer,device_Mobile,device_Tab
0,University,Non Government,No,Yes,Low,Mid,4G,3-6,No,Moderate,...,0,0,1,0,0,0,1,0,0,1
1,University,Non Government,No,Yes,High,Mid,4G,1-3,Yes,Moderate,...,0,0,1,0,0,1,0,0,1,0
2,College,Government,No,Yes,Low,Mid,4G,1-3,No,Moderate,...,0,1,0,0,0,0,1,0,1,0
3,School,Non Government,No,Yes,Low,Mid,4G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0
4,School,Non Government,No,Yes,Low,Poor,3G,0,No,Low,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,College,Non Government,No,Yes,Low,Mid,4G,1-3,No,Low,...,0,1,0,0,0,0,1,0,1,0
1201,College,Non Government,No,No,High,Mid,4G,3-6,No,Moderate,...,0,1,0,0,0,0,1,0,1,0
1202,School,Non Government,No,Yes,Low,Mid,3G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0
1203,College,Non Government,No,No,Low,Mid,4G,1-3,No,Low,...,0,1,0,0,0,0,1,0,1,0
1204,School,Non Government,No,Yes,Low,Poor,3G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0

#### <span style='color:blue'>2.Perform the Ordinal Encoding on features - Education Level, Financial Condition using dictionary.</span>

In [40]:
oe=OrdinalEncoder()

In [41]:
# Ordinal encoding on 'Education Level' with dictionary approach

In [42]:
df['Education Level'].value_counts()

Education Level
School        530
University    456
College       219
Name: count, dtype: int64

In [43]:
df['Education Level']=oe.fit_transform(df[['Education Level']])

In [44]:
df['Education Level']=df['Education Level'].astype(int)

In [45]:
df['Education Level'].value_counts()

Education Level
1    530
2    456
0    219
Name: count, dtype: int64

In [46]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Adaptivity Level,...,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi,device_Computer,device_Mobile,device_Tab
0,2,Non Government,No,Yes,Low,Mid,4G,3-6,No,Moderate,...,0,0,1,0,0,0,1,0,0,1
1,2,Non Government,No,Yes,High,Mid,4G,1-3,Yes,Moderate,...,0,0,1,0,0,1,0,0,1,0
2,0,Government,No,Yes,Low,Mid,4G,1-3,No,Moderate,...,0,1,0,0,0,0,1,0,1,0
3,1,Non Government,No,Yes,Low,Mid,4G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0
4,1,Non Government,No,Yes,Low,Poor,3G,0,No,Low,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,0,Non Government,No,Yes,Low,Mid,4G,1-3,No,Low,...,0,1,0,0,0,0,1,0,1,0
1201,0,Non Government,No,No,High,Mid,4G,3-6,No,Moderate,...,0,1,0,0,0,0,1,0,1,0
1202,1,Non Government,No,Yes,Low,Mid,3G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0
1203,0,Non Government,No,No,Low,Mid,4G,1-3,No,Low,...,0,1,0,0,0,0,1,0,1,0
1204,1,Non Government,No,Yes,Low,Poor,3G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0

In [47]:
# Ordinal encoding for 'Financial Condition' with dictionary approach

In [48]:
df['Financial Condition'].value_counts()

Financial Condition
Mid     878
Poor    242
Rich     85
Name: count, dtype: int64

In [49]:
df['Financial Condition']=oe.fit_transform(df[['Financial Condition']])

In [50]:
df['Financial Condition']=df['Financial Condition'].astype(int)

In [51]:
df['Financial Condition'].value_counts()

Financial Condition
0    878
1    242
2     85
Name: count, dtype: int64

In [52]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Adaptivity Level,...,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi,device_Computer,device_Mobile,device_Tab
0,2,Non Government,No,Yes,Low,0,4G,3-6,No,Moderate,...,0,0,1,0,0,0,1,0,0,1
1,2,Non Government,No,Yes,High,0,4G,1-3,Yes,Moderate,...,0,0,1,0,0,1,0,0,1,0
2,0,Government,No,Yes,Low,0,4G,1-3,No,Moderate,...,0,1,0,0,0,0,1,0,1,0
3,1,Non Government,No,Yes,Low,0,4G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0
4,1,Non Government,No,Yes,Low,1,3G,0,No,Low,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,0,Non Government,No,Yes,Low,0,4G,1-3,No,Low,...,0,1,0,0,0,0,1,0,1,0
1201,0,Non Government,No,No,High,0,4G,3-6,No,Moderate,...,0,1,0,0,0,0,1,0,1,0
1202,1,Non Government,No,Yes,Low,0,3G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0
1203,0,Non Government,No,No,Low,0,4G,1-3,No,Low,...,0,1,0,0,0,0,1,0,1,0
1204,1,Non Government,No,Yes,Low,1,3G,1-3,No,Moderate,...,1,0,0,0,0,1,0,0,1,0

#### <span style='color:blue'>3. Perform the Ordinal Encoding on features - Adaptivity Level, Load-shedding, using manual</span>

In [53]:
# Ordinal encoding on 'Adaptivity Level' using manual approach

In [54]:
df['Adaptivity Level'].unique()

array(['Moderate', 'Low', 'High'], dtype=object)

In [55]:
df['Adaptivity Level'].value_counts()

Adaptivity Level
Moderate    625
Low         480
High        100
Name: count, dtype: int64

In [56]:
ad_level_sequence=[['Low','Moderate','High']]

In [57]:
ad_level_sequence

[['Low', 'Moderate', 'High']]

In [58]:
oe=OrdinalEncoder(categories=ad_level_sequence)

In [59]:
oe

OrdinalEncoder(categories=[['Low', 'Moderate', 'High']])

In [60]:
df['Adaptivity Level']=oe.fit_transform(df[['Adaptivity Level']])

In [61]:
df['Adaptivity Level']=df['Adaptivity Level'].astype(int)

In [62]:
df['Adaptivity Level'].value_counts()

Adaptivity Level
1    625
0    480
2    100
Name: count, dtype: int64

In [63]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Adaptivity Level,...,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi,device_Computer,device_Mobile,device_Tab
0,2,Non Government,No,Yes,Low,0,4G,3-6,No,1,...,0,0,1,0,0,0,1,0,0,1
1,2,Non Government,No,Yes,High,0,4G,1-3,Yes,1,...,0,0,1,0,0,1,0,0,1,0
2,0,Government,No,Yes,Low,0,4G,1-3,No,1,...,0,1,0,0,0,0,1,0,1,0
3,1,Non Government,No,Yes,Low,0,4G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0
4,1,Non Government,No,Yes,Low,1,3G,0,No,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,0,Non Government,No,Yes,Low,0,4G,1-3,No,0,...,0,1,0,0,0,0,1,0,1,0
1201,0,Non Government,No,No,High,0,4G,3-6,No,1,...,0,1,0,0,0,0,1,0,1,0
1202,1,Non Government,No,Yes,Low,0,3G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0
1203,0,Non Government,No,No,Low,0,4G,1-3,No,0,...,0,1,0,0,0,0,1,0,1,0
1204,1,Non Government,No,Yes,Low,1,3G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0

In [64]:
# Ordinal encoding on 'Load-shedding' using manual approach

In [65]:
df['Load-shedding'].unique()

array(['Low', 'High'], dtype=object)

In [66]:
df['Load-shedding'].value_counts()

Load-shedding
Low     1004
High     201
Name: count, dtype: int64

In [67]:
load_shedding_sequence=[['Low','High']]

In [68]:
load_shedding_sequence

[['Low', 'High']]

In [69]:
oe=OrdinalEncoder(categories=load_shedding_sequence)

In [70]:
oe

OrdinalEncoder(categories=[['Low', 'High']])

In [71]:
df['Load-shedding']=oe.fit_transform(df[['Load-shedding']])

In [72]:
df['Load-shedding']=df['Load-shedding'].astype(int)

In [73]:
df['Load-shedding'].value_counts()

Load-shedding
0    1004
1     201
Name: count, dtype: int64

In [74]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Adaptivity Level,...,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi,device_Computer,device_Mobile,device_Tab
0,2,Non Government,No,Yes,0,0,4G,3-6,No,1,...,0,0,1,0,0,0,1,0,0,1
1,2,Non Government,No,Yes,1,0,4G,1-3,Yes,1,...,0,0,1,0,0,1,0,0,1,0
2,0,Government,No,Yes,0,0,4G,1-3,No,1,...,0,1,0,0,0,0,1,0,1,0
3,1,Non Government,No,Yes,0,0,4G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0
4,1,Non Government,No,Yes,0,1,3G,0,No,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,0,Non Government,No,Yes,0,0,4G,1-3,No,0,...,0,1,0,0,0,0,1,0,1,0
1201,0,Non Government,No,No,1,0,4G,3-6,No,1,...,0,1,0,0,0,0,1,0,1,0
1202,1,Non Government,No,Yes,0,0,3G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0
1203,0,Non Government,No,No,0,0,4G,1-3,No,0,...,0,1,0,0,0,0,1,0,1,0
1204,1,Non Government,No,Yes,0,1,3G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0

#### <span style='color:blue'>4. Perform the Label Encoding on features - Institution Type, Network Type.</span>

In [75]:
lb=LabelEncoder()

In [76]:
# Label Encoding on 'Institution Type'

In [77]:
df['Institution Type'].unique()

array(['Non Government', 'Government'], dtype=object)

In [78]:
df['Institution Type'].value_counts()

Institution Type
Non Government    823
Government        382
Name: count, dtype: int64

In [79]:
df['Institution Type']=lb.fit_transform(df['Institution Type'])

In [80]:
df['Institution Type'].value_counts()

Institution Type
1    823
0    382
Name: count, dtype: int64

In [81]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Adaptivity Level,...,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi,device_Computer,device_Mobile,device_Tab
0,2,1,No,Yes,0,0,4G,3-6,No,1,...,0,0,1,0,0,0,1,0,0,1
1,2,1,No,Yes,1,0,4G,1-3,Yes,1,...,0,0,1,0,0,1,0,0,1,0
2,0,0,No,Yes,0,0,4G,1-3,No,1,...,0,1,0,0,0,0,1,0,1,0
3,1,1,No,Yes,0,0,4G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0
4,1,1,No,Yes,0,1,3G,0,No,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,0,1,No,Yes,0,0,4G,1-3,No,0,...,0,1,0,0,0,0,1,0,1,0
1201,0,1,No,No,1,0,4G,3-6,No,1,...,0,1,0,0,0,0,1,0,1,0
1202,1,1,No,Yes,0,0,3G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0
1203,0,1,No,No,0,0,4G,1-3,No,0,...,0,1,0,0,0,0,1,0,1,0
1204,1,1,No,Yes,0,1,3G,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0

In [82]:
# Label Encoding on 'Network Type'

In [83]:
df['Network Type'].unique()

array(['4G', '3G', '2G'], dtype=object)

In [84]:
df['Network Type'].value_counts()

Network Type
4G    775
3G    411
2G     19
Name: count, dtype: int64

In [85]:
df['Network Type']=lb.fit_transform(df['Network Type'])

In [86]:
df['Network Type'].value_counts()

Network Type
2    775
1    411
0     19
Name: count, dtype: int64

In [87]:
df

,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Network Type,Class Duration,Self Lms,Adaptivity Level,...,Age_11-15,Age_16-20,Age_21-25,Age_26-30,Age_6-10,netType_Mobile Data,netType_Wifi,device_Computer,device_Mobile,device_Tab
0,2,1,No,Yes,0,0,2,3-6,No,1,...,0,0,1,0,0,0,1,0,0,1
1,2,1,No,Yes,1,0,2,1-3,Yes,1,...,0,0,1,0,0,1,0,0,1,0
2,0,0,No,Yes,0,0,2,1-3,No,1,...,0,1,0,0,0,0,1,0,1,0
3,1,1,No,Yes,0,0,2,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0
4,1,1,No,Yes,0,1,1,0,No,0,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,0,1,No,Yes,0,0,2,1-3,No,0,...,0,1,0,0,0,0,1,0,1,0
1201,0,1,No,No,1,0,2,3-6,No,1,...,0,1,0,0,0,0,1,0,1,0
1202,1,1,No,Yes,0,0,1,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0
1203,0,1,No,No,0,0,2,1-3,No,0,...,0,1,0,0,0,0,1,0,1,0
1204,1,1,No,Yes,0,1,1,1-3,No,1,...,1,0,0,0,0,1,0,0,1,0

#### B. Use ‘Placement_Dataset.xlsx’ and perform all the below mentioned encoding tasks.

In [90]:
df1=pd.read_excel('Placement_Dataset.xlsx')
df1

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

#### <span style='color:blue'>1. Perform the One Hot Encoding separately on features –degree_t, hsc_s.</span>

In [91]:
ohe=OneHotEncoder()

In [92]:
# One hot encoding on 'degree_t'

In [93]:
df1['degree_t'].unique()

array(['Sci&Tech', 'Comm&Mgmt', 'Others'], dtype=object)

In [94]:
df1['degree_t'].value_counts()

degree_t
Comm&Mgmt    145
Sci&Tech      59
Others        11
Name: count, dtype: int64

In [95]:
feature_degree_t_array=ohe.fit_transform(df1[['degree_t']]).toarray()
feature_degree_t_array

array([[0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [96]:
feature_degree_t_label=ohe.categories_
feature_degree_t_label

[array(['Comm&Mgmt', 'Others', 'Sci&Tech'], dtype=object)]

In [97]:
degree_t_label=np.array(feature_degree_t_label).ravel()
degree_t_label

array(['Comm&Mgmt', 'Others', 'Sci&Tech'], dtype=object)

In [98]:
df1_degree_t=pd.DataFrame(feature_degree_t_array,columns=degree_t_label,dtype=int).add_prefix('Deggree_')
df1_degree_t

     Deggree_Comm&Mgmt  Deggree_Others  Deggree_Sci&Tech
0                    0               0                 1
1                    0               0                 1
2                    1               0                 0
3                    0               0                 1
4                    1               0                 0
..                 ...             ...               ...
210                  1               0                 0
211                  0               0                 1
212                  1               0                 0
213                  1               0                 0
214                  1               0                 0

[215 rows x 3 columns]

In [99]:
df1=pd.concat([df1,df1_degree_t],axis=1)

In [100]:
df1

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,Deggree_Comm&Mgmt,Deggree_Others,Deggree_Sci&Tech
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0,0,0,1
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,0,0,1
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0,1,0,0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN,0,0,1
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0,1,0,0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0,0,0,1
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0,1,0,0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0,1,0,0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN,1,0,0

In [101]:
df1.drop('degree_t',axis=1,inplace=True)

In [102]:
df1

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,workex,etest_p,specialisation,mba_p,status,salary,Deggree_Comm&Mgmt,Deggree_Others,Deggree_Sci&Tech
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,No,55.0,Mkt&HR,58.80,Placed,270000.0,0,0,1
1,2,M,79.33,Central,78.33,Others,Science,77.48,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,0,0,1
2,3,M,65.00,Central,68.00,Central,Arts,64.00,No,75.0,Mkt&Fin,57.80,Placed,250000.0,1,0,0
3,4,M,56.00,Central,52.00,Central,Science,52.00,No,66.0,Mkt&HR,59.43,Not Placed,NaN,0,0,1
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,No,96.8,Mkt&Fin,55.50,Placed,425000.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,No,91.0,Mkt&Fin,74.49,Placed,400000.0,1,0,0
211,212,M,58.00,Others,60.00,Others,Science,72.00,No,74.0,Mkt&Fin,53.62,Placed,275000.0,0,0,1
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0,1,0,0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,No,70.0,Mkt&HR,60.23,Placed,204000.0,1,0,0
214,215,M,62.00,Central,58.00,Others,Science,53.00,No,89.0,Mkt&HR,60.22,Not Placed,NaN,1,0,0

#### <span style='color:blue'>2. Perform the Label Encoding separately on features –status.</span>

In [103]:
lb=LabelEncoder()

In [104]:
df1['status'].unique()

array(['Placed', 'Not Placed'], dtype=object)

In [105]:
df1['status'].value_counts()

status
Placed        148
Not Placed     67
Name: count, dtype: int64

In [106]:
df1['status']=lb.fit_transform(df1['status'])

In [107]:
df1['status'].value_counts()

status
1    148
0     67
Name: count, dtype: int64

In [108]:
df1

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,workex,etest_p,specialisation,mba_p,status,salary,Deggree_Comm&Mgmt,Deggree_Others,Deggree_Sci&Tech
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,No,55.0,Mkt&HR,58.80,1,270000.0,0,0,1
1,2,M,79.33,Central,78.33,Others,Science,77.48,Yes,86.5,Mkt&Fin,66.28,1,200000.0,0,0,1
2,3,M,65.00,Central,68.00,Central,Arts,64.00,No,75.0,Mkt&Fin,57.80,1,250000.0,1,0,0
3,4,M,56.00,Central,52.00,Central,Science,52.00,No,66.0,Mkt&HR,59.43,0,NaN,0,0,1
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,No,96.8,Mkt&Fin,55.50,1,425000.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,No,91.0,Mkt&Fin,74.49,1,400000.0,1,0,0
211,212,M,58.00,Others,60.00,Others,Science,72.00,No,74.0,Mkt&Fin,53.62,1,275000.0,0,0,1
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Yes,59.0,Mkt&Fin,69.72,1,295000.0,1,0,0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,No,70.0,Mkt&HR,60.23,1,204000.0,1,0,0
214,215,M,62.00,Central,58.00,Others,Science,53.00,No,89.0,Mkt&HR,60.22,0,NaN,1,0,0